.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* sk style */
.sk{
    color: crimson;
}
/* share style */
.btn{
    color: rgb(255, 255, 255);
    background-color: #FD6E0A;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}


/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

nav .title{
    font-weight:700;
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
   
}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
/* banner-design */
.hbg{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top,right bottom;
}
.banner{
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 180px;
    text-align: center;
    line-height: 30px;
    justify-content: space-between;
}
/* main section */
main{
    max-width: 1200px;
    margin: 100px auto;
}
/* about sec star */
.about-sec{
    background-color:rgb(226, 177, 142);
    border-radius: 10px;
    padding: 80px 130px;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
    color: #474747;
}
.section-description{
    text-align: center;
}
.about-itmes{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
     
}
.item-description{
    font-weight: 700;
}
.head-description{
    border-radius: 10px;
    padding: 100px 150px;
}
/* sec-2 */
.blocks{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
.block{
    padding:30px;
    background-color:rgb(248, 225, 206);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.summary-head{
    padding-top: 50px;
    padding-bottom: 50px;
}
.edu-exp{
    display: flex;
    padding:100px;
    gap: 80px;
   
}
.cv-btn{
    text-align: center;
}